<div class="container-fluid flex h-screen">
    <!-- sidebar -->
    <section class="sm:w-2/12 p-2 mx-auto shadow-lg bg-white">
        <h1 class="text-center p-3">
            <img src="../../../../assets/img/logo.png" alt="" class="w-12 mx-auto h-12" srcset="">
            <span class="font-mono font-italic text-amber-500">Todo App</span>
        </h1> 
        <ul>
            <li class="bg-amber-50 hvr-sweep-to-top block duration-500 rounded-md text-center p-5 my-2 text-xl">
                <a href="#" class="text-center">
                    <i class="fad fa-tasks" ></i>
                    <span class="block">Taches</span>
                </a>
            </li>
            <li class="bg-amber-50 hvr-sweep-to-top duration-500 block rounded-md text-center my-2 text-xl p-5">
                <a href="#" class="text-center">
                    <i class="fad fa-toolbox"></i>
                    <span class="block">Projets</span>
                </a>
            </li>
            <li class="bg-amber-50 hvr-sweep-to-top duration-500 block rounded-md text-center my-2 text-xl p-5">
                <a href="#" class="text-center">
                    <i class="fad fa-cog"></i> 
                    <span class="block">
                        Préférences
                    </span>
                </a>
            </li>
            <li class="bg-amber-50 hvr-sweep-to-top duration-500 rounded-md text-center my-2 text-xl p-5">
                <a href="#" class="text-center">
                    <i class="fad fa-users-cog"></i>
                    <span class="block">
                        Gestion des utilisateurs
                    </span>
                </a>
            </li>
        </ul>
    </section>
    <!-- content -->
    <section class="sm:w-10/12">
        <!-- header content -->
        <header class="flex items-center shadow-sm justify-between p-2">
            <span class="w-1/3 flex items-center">
                <button class="text-amber-500 mr-3"><i class="fad fa-search"></i></button> 
                    <input type="search" name="search" id="search" class="focus:outline-none hover:outline-none w-full border-amber-100 rounded-md border p-1 " placeholder="Search !">
            </span>
            <ul class="w-2/4 mx-4 justify-around flex items-center font-mono">
                <li class="p-1">
                        <div class="form-check form-switch">
                            <label class="form-check-label text-gray-800" for="lang">
                                <i class="fad p-1 fa-language"></i>
                                <input class="form-check-input appearance-none w-9 duration-300 rounded-full h-5 align-top bg-amber-100 bg-no-repeat bg-contain focus:outline-none cursor-pointer checked:bg-amber-500 shadow-sm" type="checkbox" role="switch" id="lang">
                                Fr </label>
                        </div>
                </li>
                <li class="p-1 ">
                    <a href="#"><i class="fad fa-user"></i> Mon Profil</a>
                </li>
                <li class="p-1 ">
                    <a href="#"><i class="fad fa-sign-out"></i> Deconnexion</a> 
                </li>
            </ul>
        </header>
        <!-- body content -->
        <div class="block full-h border bg-amber-50 mx-auto">
           <section class="m-5 relative h-full p-2 bg-white">
            <h1>Container Model </h1>
           </section>
        </div>
    </section>
</div>