<section class="w-full flex items-center h-screen px-3">
        <form  [formGroup]="formRegister" (submit)="Register()" class="w-full p-2 block">
            <h1 class="text-2xl text-center p-1 font-bold" i18n>
                Inscription
            </h1>
            <p class="my-5">
                <label i18n for="UserName" class="label block font-mono">
                    <i class="fad fa-user"></i>
                    Nom Complet </label>
                <input type="text" autocomplete="none" formControlName="UserName" name="UserName" id="UserName"
                    class="block  w-full focus:outline-none hover:outline-none border-b-2 border-amber-400">
            </p>
            <p class="my-5">
                <label i18n for="Telephone" class="label block font-mono">
                    <i class="fad fa-user"></i>
                    Telephone </label>
                <input type="tel" autocomplete="none" formControlName="Telephone" name="Telephone" id="Telephone"
                    class="block  w-full focus:outline-none hover:outline-none border-b-2 border-amber-400">
            </p>
            <p class="my-5">

                <label i18n for="Email" class="label block font-mono">
                    <i class="fad fa-user"></i>
                    Adresse electronique </label>
                <input type="text" autocomplete="none" formControlName="Email" name="Email" id="Email"
                    class="block  w-full focus:outline-none hover:outline-none border-b-2 border-amber-400">
            </p>
            <p class="my-5">
                <label i18n for="Password" class="label block font-mono">
                    <i class="fad fa-user-unlock"></i>
                    Mot de passe
                </label>
                <input type="Password" autocomplete="none" formControlName="Password" name="Password" id="Password"
                    class="block w-full focus:outline-none hover:outline-none border-b-2 border-amber-400">
            </p>
            <p class="my-5">
                <label i18n for="ConfirmPassword" class="label block font-mono">
                    <i class="fad fa-user-unlock"></i>
                   Confirmation Mot de passe
                </label>
                <input type="password" autocomplete="none" formControlName="ConfirmPassword" name="ConfirmPassword" id="ConfirmPassword"
                    class="block w-full focus:outline-none hover:outline-none border-b-2 border-amber-400">
            </p>
            <p class="my-5">
                <button i18n
                    class="p-3 shadow-lgrounded-md rounded-md hvr-sweep-to-right bg-white text-amber-600 transition-300 focus:outline-none hover:outline-none duration-500 rounded text-lg bold w-full">
                    <i class="fad fa-save"></i>
                    S'inscrire
                </button>
            </p>
            <p class="text-center mt-5">
                <a routerLink="/" i18n> J'ai déjà un compte <strong class="text-amber-600">Cliquez-ici !</strong></a>
            </p>
        </form>
</section>