<div class="container">
    <!-- breadcrumb -->
    <h2 class="text-md mb-4 font-mono">
        <i class="fad fa-tachometer-alt hvr-icon"></i> Tableau de bord
    </h2>
    <!-- end breadccrumb -->
    <section class=" flex my-2 items-center  justify-between flex-wrap">
        <div class="w-2/4 shadow-md hvr-overline-reveal h-36 rounded-md flex-row flex justify-around items-center p-2">
            <span class="w-2/4 text-center">
                <img src="../../../../assets/svg/dashboard/undraw_tasks_re_v2v4.svg" class="h-24" alt="" srcset="">
            </span>
            <span class="text-4xl w-2/4 text-center font-mono">
                122 <small class="text-xl"> Taches </small> 
            </span>
        </div>
        <div class="w-2/4 shadow-md hvr-overline-reveal h-36 p-2 flex-row flex items-center justify-around">
            <span class="w-2/4 text-center">
            <img src="../../../../assets/svg/dashboard/undraw_project_complete_lwss.svg" class="h-24" alt="" srcset="">
            </span>
            <span class="text-4xl w-2/4 text-center font-mono">
                4 <small class="text-xl"> Projets </small> 
            </span>
        </div>
    </section>
    <section class=" flex my-2 justify-between flex-wrap">
        <div class="w-2/4 shadow-md h-36 hvr-overline-reveal rounded-md flex-row flex items-center justify-around p-2">
            <span class="w-2/4 text-center">
                <img src="../../../../assets/svg/dashboard/undraw_accept_tasks_re_09mv.svg" class="h-24" alt="" srcset="">
            </span>
            <span class="text-4xl w-2/4 text-center font-mono">
                67 <small class="text-xl"> Taches effectuées </small> 
            </span>
        </div>
        <div class="w-2/4 shadow-md h-36 hvr-overline-reveal p-2 flex-row flex items-center justify-around">
            <span class="w-2/4 text-center">
                <img src="../../../../assets/svg/dashboard/undraw_people.svg" class="h-24" alt="" srcset="">
            </span>
            <span class="text-4xl w-2/4 text-center font-mono">
                4 <small class="text-xl"> Utilisateurs </small> 
            </span>
        </div>
    </section>
    <section class=" flex my-2 justify-between flex-wrap">
        <div class="w-2/4 shadow-md h-36 hvr-overline-reveal rounded-md flex-row flex items-center justify-around p-2">
            <span class="w-2/4 text-center">
                <img src="../../../../assets/svg/dashboard/undraw_growth_curve_re_t5s7.svg" class="h-24" alt="" srcset="">
            </span>
            <span class="text-4xl w-2/4 font-mono text-center">
                12 <small class="text-xl"> Taches en cours</small> 
            </span>
        </div>
        <div class="w-2/4 shadow-md h-36 p-2 flex-row flex items-center justify-around">
            <img src="../../../../assets/svg/dashboard/undraw_tasks_re_v2v4.svg" class="h-24" alt="" srcset="">
            <span class="text-4xl font-mono">
                4 <small class="text-xl"> Projets Cloturées </small> 
            </span>
        </div>
    </section>
</div>