<div class="container-fluid flex h-screen-80 bg-white">
    <section class="lg:w-1/3 md:w-2/4 md:block w-full md:border-r-4 border-amber-600">
        <router-outlet></router-outlet>
    </section>
    <section class="lg:w-2/3 md:w-2/4 md:flex hidden bg-amber-500 h-screen text-white flex-col p-5 items-center justify-around">
        <h1 class="font-mono text-center m-0 text-4xl bold italic" i18n>
            Simplifier votre quotidien !
        </h1>
        <p class="text-justify px-5 text-white bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellat obcaecati ipsa exercitationem officia cupiditate, ipsum totam nesciunt! Ex obcaecati quod quos eos cumque quidem ipsum odit pariatur at magni!
            Tenetur vel esse reiciendis dolorum perspiciatis iusto doloremque quos ex, debitis repellat. Ex, architecto dolore! Voluptatibus aliquam, quisquam totam placeat molestias ipsam explicabo fugit quasi consectetur nisi impedit assumenda tempore.
        </p>
        <div class="flex w-full items-center justify-around text-center">
            <div i18n class="w-32 hvr-glow h-32 rounded-md flex items-center flex-col hover:bg-white hover:text-amber-600 transition-500 duration-500 flex items-center justify-center font-mono text-2xl bg-amber-600 shadow-md">
                <i class="fad fa-meteor text-3xl"></i>
                Simple
            </div>
            <div i18n class="w-32 hvr-glow h-32 rounded-md flex items-center flex-col hover:bg-white hover:text-amber-600 transition-500 duration-500 flex items-center justify-center font-mono text-2xl bg-amber-600 shadow-md">
                <i class="fad fa-bolt hvr-icon text-3xl"></i>
                Rapide
            </div>
            <div i18n class="w-32 hvr-glow h-32 rounded-md flex items-center flex-col hover:bg-white hover:text-amber-600 transition-500 duration-500 flex items-center justify-center font-mono text-2xl bg-amber-600 shadow-md">
                <i class="fad fa-flask hvr-icon"></i>
                Efficace
            </div>
        </div>
    </section>
</div>
