<div class="container-fluid flex h-screen-80 bg-white">
    <section class="w-1/3 border-r-4 border-amber-600">
        <router-outlet></router-outlet>
    </section>
    <section class="w-2/3 bg-amber-500 text-white flex flex-col p-5 items-center justify-around">
        <h1 class="font-mono m-0 text-4xl bold italic">
            Simplify your journey
        </h1>
        <p class="text-justify text-white bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellat obcaecati ipsa exercitationem officia cupiditate, ipsum totam nesciunt! Ex obcaecati quod quos eos cumque quidem ipsum odit pariatur at magni!
            Tenetur vel esse reiciendis dolorum perspiciatis iusto doloremque quos ex, debitis repellat. Ex, architecto dolore! Voluptatibus aliquam, quisquam totam placeat molestias ipsam explicabo fugit quasi consectetur nisi impedit assumenda tempore.
        </p>
        <div class="flex w-full items-center justify-around text-center">
            <div class="w-32 h-32 rounded-md flex items-center flex-col hover:bg-white hover:text-amber-600 transition-500 duration-500 flex items-center justify-center font-mono text-2xl bg-amber-600 shadow-md">
                <i class="fad fa-meteor text-3xl"></i>
                Simple
            </div>
            <div class="w-32 h-32 rounded-md flex items-center flex-col hover:bg-white hover:text-amber-600 transition-500 duration-500 flex items-center justify-center font-mono text-2xl bg-amber-600 shadow-md">
                <i class="fad fa-bolt text-3xl"></i>
                Rapide
            </div>
            <div class="w-32 h-32 rounded-md flex items-center flex-col hover:bg-white hover:text-amber-600 transition-500 duration-500 flex items-center justify-center font-mono text-2xl bg-amber-600 shadow-md">
                <i class="fad fa-flask"></i>
                Efficace
            </div>
        </div>
    </section>
</div>
