<div class="container">
    <!-- breadcrumb -->
    <h2 class="text-md mb-4 font-mono">
        <i class="fad fa-tasks hvr-icon" ></i>
        Taches
    </h2>
    <!-- links -->
    <header class="flex justify-between items-center text-sm">
        <h1 class="border-2 p-1 border-amber-300 rounded-md text-sm">
            <i class="fa fa-plus"></i> Ajouter une tache
        </h1>
        <ul class="flex justify-end items-center w-2/3">
            <li class="p-1 mx-2">
                <a href="#"> <i class="fad fa-tasks-alt"></i> Tout </a>
            </li>
            <li class="p-1  mx-2">
                <a href="#"> <i class="fas fa-smile-plus"></i> Nouvelles </a>
            </li>
            <li class="p-1  mx-2">
               <a href="#"> <i class="fad fa-thumbtack"></i> En cours</a>
            </li>
            <li class="p-1  mx-2">
                <a href="#"> <i class="fas fa-tasks"></i> Complétes </a>
            </li>
            <li class="p-1  mx-2">
                <select class="min-w-32" name="projet" id="projet">
                    <option value="">Selectionner un projet</option>
                </select>
            </li>
        </ul>
    </header>
    <!-- end breadccrumb -->

    <!-- content -->
    <Section class="flex row container justify-between">
        <div class="card">
            
        </div>
    </Section>
    <!-- end content -->
</div>