<section class="w-full flex items-center h-screen px-3">
    <form action="" method="post" class="w-full p-2 block">
        <p class="my-5">
            <label for="login" class="label block font-mono">
                <i class="fad fa-user"></i>
                Login or Email</label>
            <input type="text" autocomplete="none" name="login" id="login" class="block  w-full focus:outline-none hover:outline-none border-b-2 border-amber-400">
        </p>
        <p class="my-5">
            <label for="password" class="label block font-mono"> 
                <i class="fad fa-user-unlock"></i>
                Password
            </label>
            <input type="password" autocomplete="none" name="password" id="password" class="block w-full focus:outline-none hover:outline-none border-b-2 border-amber-400">
        </p>
        <p class="mt-5">
            <button class="p-3 shadow-lg bg-white text-amber-600 transition-300 duration-500 rounded text-lg bold w-full">
                <i class="fad fa-sign-in-alt"></i>
                Se connecter
            </button>
        </p>
        <p class="mt-5 sm:w-2/4 w-1/4 mx-auto flex justify-around">
            <a href="" title="Facebook Login">
                <img class="h-6  w-6" src="../../../../assets/social_svg/facebook-f-brands.svg" alt="">
            </a>
            <a href="" title="Linkedin Login">
                <img class="h-6  w-6" src="../../../../assets/social_svg/linkedin-in-brands.svg" alt="">
            </a>
            <a href="" title="Twitter Login">
                <img class="h-6 w-6" src="../../../../assets/social_svg/twitter-brands.svg" alt="">
            </a>
            <a routerLink="../register" class="h-6 w-6" title="Register">
                <i class="fad fa-user-plus "></i>
            </a>
        </p>
    </form>
</section>