<section class="w-full flex items-center h-screen px-3">
    <form [formGroup]="formLogin" (submit)="Login()" class="w-full p-2 block">
        <h1 i18n class="text-2xl text-center p-1 font-bold">
            Connexion
        </h1>
        <p class="my-10">
            <label i18n for="login" class="label block font-mono">
                <i class="fad fa-user"></i>
                Adresse Email</label>
            <input type="text" autocomplete="false" formControlName="email" name="login" id="login" class="block  w-full focus:outline-none border-b-2 border-amber-400">
        </p>
        <p class="my-10 relative">
            <label i18n for="password" class="label block font-mono"> 
                <i class="fad fa-user-unlock"></i>
                Mot de passe
            </label>
            <button type="button" (click)="showPassword = !showPassword" class="absolute right-0 mb-5">
                <i *ngIf="!showPassword" class="fad fa-eye"></i>
                <i *ngIf="showPassword" class="fad fa-eye-slash"></i>
            </button>
            <input [type]="!showPassword ? 'password' : 'text' " formControlName="password" autocomplete="false" name="password" id="password" class="block w-full focus:outline-none hover:outline-none border-b-2 border-amber-400">
        </p>
        <p class="mt-5">
            <button [disabled]="!formLogin.valid" i18n class="p-3 hvr-sweep-to-right rounded-md shadow-lg bg-white text-amber-600 focus:outline-none hover:outline-none transition-300 duration-500 rounded text-lg bold w-full">
                <i class="fad fa-sign-in-alt"></i>
                Se connecter
            </button>
        </p>
        <p class="mt-6 md:w-3/4 w-2/3 text-md mx-auto text-amber-600 flex flex-col items-center text-center justify-around">
            <a routerLink="register" class="rounded-md hover:bg-amber-500 hover:text-white transition-300 duration-500 m-1 border-amber-200 p-1 border w-full" title="Register">
                <i class="fad fa-user-plus fa-md"></i> S'inscrire
            </a>
            <a routerLink="register" class="rounded-md hover:bg-amber-500 hover:text-white transition-300 duration-500 border  m-1 border-amber-200 p-1 w-full" title="Google Login">
                <i class="fab fa-google fa-md"></i> Se connecter avec google
            </a>
            <a href="" title="Facebook Login" class="rounded-md hover:bg-amber-500 hover:text-white transition-300 duration-500 border m-1 border-amber-200 p-1 w-full">
                <i class="fab fa-facebook fa-md"></i> Se connecter avec facebook
            </a>
             </p>
    </form>
</section>