<section class="w-full flex items-center h-screen px-3">
    <form action="" method="post" (submit)="Login()" class="w-full p-2 block">
        <h1 class="text-3xl flex flex-col items-center uppercase font-mono p-1">
            Connexion
        </h1>
        <p class="my-10">
            <label for="login" class="label block font-mono">
                <i class="fad fa-user"></i>
                Email Adresse</label>
            <input type="text" autocomplete="none" name="login" id="login" class="block  w-full focus:outline-none border-b-2 border-amber-400">
        </p>
        <p class="my-10 relative">
            <label for="password" class="label block font-mono"> 
                <i class="fad fa-user-unlock"></i>
                Password
            </label>
            <button type="button" class="absolute right-0 mb-5">
                <i *ngIf="true" class="fad fa-eye"></i>
                <i *ngIf="false" class="fad fa-eye-slash"></i>
            </button>
            <input type="password" autocomplete="none" name="password" id="password" class="block w-full focus:outline-none hover:outline-none border-b-2 border-amber-400">
        </p>
        <p class="mt-5">
            <button class="p-3 hvr-sweep-to-right shadow-lg bg-white text-amber-600 focus:outline-none hover:outline-none transition-300 duration-500 rounded text-lg bold w-full">
                <i class="fad fa-sign-in-alt"></i>
                Se connecter
            </button>
        </p>
        <p class="mt-5 md:w-2/4 w-3/4 mx-auto flex items-center justify-around">
            <a routerLink="register" class="h-6 w-6" title="Register">
                <i class="fad fa-user-plus fa-lg"></i>
            </a>
            <a routerLink="register" class="h-6 w-6" title="Google Login">
                <i class="fab fa-google fa-lg"></i>
            </a>
            <a href="" title="Facebook Login"  class="h-6 w-6">
                <i class="fab fa-facebook fa-lg"></i>
            </a>
            <a href="" title="Linkedin Login"  class="h-6 w-6">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
            <a href="" title="Twitter Login"  class="h-6 w-6">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
             </p>
    </form>
</section>